:root {
  --container-width:  100%; 
  --container-height: 100%;
  --logo-width: 200px;
  --logo-height: 20px;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: var(--container-width);
  height: var(--container-height);
  background-color: #000;
  overflow: hidden;
  min-height: 100vh;
}

.dvd-logo {
  position: absolute;
  width: var(--logo-width);
  height: var(--logo-height);
  animation:
    move-x 4s linear infinite alternate,
    move-y 3s linear infinite alternate;
}

@keyframes move-x {
  from { left: 0; }
  to { left: calc(100% - var(--logo-width)); }
}

@keyframes move-y {
  from { top: 0; }
  to { top: calc(100% - var(--logo-height)); }
}

